
.webpage {
    background-color: black;
}

.dashboard {
    background-color: dimgrey;
}

.portal {
    background-color: grey;
}

.erhs-h1 {
    color: darkorange;

}



.erhs-h2 {
    color: orangered;

}

.erhs-p {
    color: white;
    margin: auto;

}

.erhs-section {
    border-width: thick;
    border-style: solid;
    border-right-color: white;
    border-left-color: white;
    margin: auto;
}

.erhs-section-selected {
    border-width: thick;
    border-style: solid;
    border-right-color: orangered;
    border-left-color: orangered;
    margin: auto;
}

#sidebar {
    position: fixed;
    background-color: dimgrey;
    height: 90%;
    overflow: auto;
}


#content {
    position: fixed;
    overflow: auto;
}



.unit-item {
    background-color: slategrey;
    color: green;
}

.unit-item:hover {
    background-color: black;

}


.unit {
    background: darkslategrey;
}

.unit:hover {
    background: black;
}



.reglog:hover {
    background-color: coral !important;
}

.quiz {
    margin: auto;
    height: 80vh;
}

.quiz > iframe {
    display: block;
    height: 100% !important;
    width: 100% !important;
}

#previewStudio:hover {
    background-color: blue !important;
}

.schema_checkbox {
    zoom: 1.5;
}

.schema_checkbox:checked {
    background-color: red;
}








