
.webpage {
    background-color: black;
}

.dashboard {
    background-color: dimgrey;
}

.erhs-h1 {
    color: darkorange;

}



.erhs-h2 {
    color: orangered;

}

.erhs-p {
    color: white;
    margin: auto;

}

.erhs-section {
    border-width: thick;
    border-style: solid;
    border-right-color: white;
    border-left-color: white;
    margin: auto;
}

.erhs-section-selected {
    border-width: thick;
    border-style: solid;
    border-right-color: orangered;
    border-left-color: orangered;
    margin: auto;
}

#sidebar {
    position: fixed;
    background-color: dimgrey;
    overflow: auto;
    height: 90%

}

#content {
    position: fixed;
}



.unit-item {
    background-color: slategrey;
    color: green;
}

.unit-item:hover {
    background-color: black;

}


.unit {
    background: darkslategrey;
}

.unit:hover {
    background: black;
}

.quiz {
    overflow: auto;
}

.quiz > iframe {
    width: 100% !important;
    height: 100% !important;
}











